/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* 覆蓋 Bootstrap 預設的 navbar-dark 顏色設定 */
.navbar-dark .navbar-nav .nav-link {
    color: #000 !important; /* 設定連結文字顏色為黑色 */
}



.navbar-dark .navbar-brand {
    color: #000 !important; /* 設定品牌名稱顏色為黑色 */
}



.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}



.badge {
    background-color: rgba(189, 116, 24, 0.6);
    color: white;
}

.text-card {
    color: #BD7418 !important;
}

.text-secondary {
    color: #425F4B !important;
}

.text-primary {
    color: #192E2F !important;
}

.text-success {
    color: #4b7147 !important;
}

.bg-primary {
    background-color: #F4E1B2 !important;
}

.bg-secondary {
    background-color: #f4f4f4 !important;
}

.bg-third {
    background-color: rgba(189, 116, 24, 0.6) !important;
}

bg-success {
    background-color: #4b7147 !important;
}

.count {
    background-color: rgba(189, 116, 24, 0.6) !important;
}

.card {
    border-color: rgba(189, 116, 24, 0.6) !important; /* Tiffany金色邊框 */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 微弱陰影，提升卡片層次感 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }



.card-title {
    color: #000000 !important; /* 設定文字顏色為黑色 */
}

/* btn-outline-primary */



.btn-outline-primary {
    color: #D4AF37;
    border-color: #D4AF37;
}



    .btn-outline-primary:hover {
        color: white;
        background-color: #D4AF37;
        border-color: #D4AF37;
    }



    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
    }



    .btn-check:checked + .btn-outline-primary,
    .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



        .btn-check:checked + .btn-outline-primary:focus,
        .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
        }



    .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: #C07b24;
        background-color: transparent;
    }


.btn-outline-warning {
    color: #C07b24;
    border-color: #C07b24;
}



    .btn-outline-warning:hover {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



    .btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
        box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
    }



    .btn-check:checked + .btn-outline-warning,
    .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



        .btn-check:checked + .btn-outline-warning:focus,
        .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
        }



    .btn-outline-warning:disabled, .btn-outline-warning.disabled {
        color: #C07b24;
        background-color: transparent;
    }



.btn-outline-secondary {
    color: #D4AF37;
    border-color: #D4AF37;
}



    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #D4AF37;
        border-color: #D4AF37;
    }



    .btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0.25rem #D4AF37;
    }



    .btn-check:checked + .btn-outline-secondary,
    .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
        color: #fff;
        background-color: #D4AF37;
        border-color: #D4AF37;
    }



        .btn-check:checked + .btn-outline-secondary:focus,
        .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
        }



    .btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
        color: #D4AF37;
        background-color: transparent;
    }




/* btn-primary */



.btn-primary {
    background-color: rgba(189, 116, 24, 0.6); /* 金色背景 */
    border: 2px solid #B89C4A; /* 內斂的金色邊框 */
}



    .btn-primary:hover {
        background-color: rgba(189, 116, 24, 0.8); /* 按鈕懸停時顏色變深 */
        border-color: #D4AF37; /* 邊框顏色反轉 */
    }



    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: rgba(189, 116, 24, 0.6);
        border-color: rgba(189, 116, 24, 0.6);
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-primary,
    .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: rgba(189, 116, 24, 0.6);
        border-color: rgba(189, 116, 24, 0.6);
    }



        .btn-check:checked + .btn-primary:focus,
        .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-primary:disabled, .btn-primary.disabled {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }


.btn-danger {
    color: #fff;
    background-color: #CA1929;
    border-color: #CA1929;
}



    .btn-danger:hover {
        color: #fff;
        background-color: #b84743;
        border-color: #ae423f;
    }



    .btn-check:focus + .btn-danger, .btn-danger:focus {
        color: #fff;
        background-color: #d9534f;
        ;
        border-color: #d9534f;
        ;
        box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
    }



    .btn-check:checked + .btn-danger,
    .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }



        .btn-check:checked + .btn-danger:focus,
        .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
        }



    .btn-danger:disabled, .btn-danger.disabled {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }





.btn-secondary {
    color: #fff;
    background-color: #BD7418;
    border-color: #BD7418;
}



    .btn-secondary:hover {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-secondary,
    .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active,
    .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



        .btn-check:checked + .btn-secondary:focus,
        .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-secondary:disabled, .btn-secondary.disabled {
        color: #fff;
        background-color: #BD7418;
        border-color: #BD7418;
    }




.btn-warning {
    color: #fff;
    background-color: #BD7418;
    border-color: #BD7418;
}



    .btn-warning:hover {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



    .btn-check:focus + .btn-warning, .btn-warning:focus {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-warning,
    .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active,
    .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



        .btn-check:checked + .btn-warning:focus,
        .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus,
        .show > .btn-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-warning:disabled, .btn-warning.disabled {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }





.btn-outline-success {
    color: #4b7147;
    border-color: #4b7147;
}



    .btn-outline-success:hover {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



    .btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
        box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
    }



    .btn-check:checked + .btn-outline-success,
    .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



        .btn-check:checked + .btn-outline-success:focus,
        .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(189, 116, 24, 0.6);
        }



    .btn-outline-success:disabled, .btn-outline-success.disabled {
        color: #4b7147;
        background-color: transparent;
    }




/* btn-primary */



.btn-success {
    color: #fff;
    background-color: #4b7147;
    border-color: #4b7147;
}



    .btn-success:hover {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



    .btn-check:focus + .btn-success, .btn-success:focus {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-success,
    .btn-check:active + .btn-success, .btn-success:active, .btn-success.active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



        .btn-check:checked + .btn-success:focus,
        .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-success:disabled, .btn-success.disabled {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



.product-image {
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit: cover; /* 確保圖片充滿圖片框，但保持比例 */
    max-width: 100%; /* 最大寬度 100%，確保圖片不會超過容器寬度 */
    height: 300px; /* 最大高度 600px，限制圖片高度 */
    width: 100%; /* 設定寬度為 100%，讓圖片保持響應式 */
    display: block; /* 去除圖片的空白間距 */
    margin-left: auto; /* 使圖片水平居中 */
    margin-right: auto; /* 使圖片水平居中 */
}

    .product-image:hover {
        transform: scale(1.05);
        opacity: 0.8;
    }

